
@{
    ViewData["Title"] = "Battle";
}

<h1>Battle</h1>

<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<body onload="GrillePosition()">
    <div id="battle"></div>
</body>

<script src="~/js/grille.js"></script>
<script src="~/js/partie.js"></script>
